

.intro_cat__product{
    height: 148px;
    background-color: #F8F3F4;
}
  .details {
    text-decoration: none;
  }
  
  .test {
    border-left: 5px solid red;
    margin-bottom: 5px;
  }
  
  .list_style {
    list-style: none;

  }
.filter_block{
    position: relative;
}
.filter{
    margin-left: 16px;
}
.cat_filter{
    margin-bottom: 20px;
    display: flex;
}
.filter_item{
    margin-left: 304px;
    position: relative;
}
.filter_item2{
    margin-left: 180px;
    position: relative;
}
.filter_item3{
    margin-left: 100px;
    position: relative;
}
.filter_check_1{
    position: absolute;
    width: 130px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;

}
.bkgcolor{
    background-color: white;
}
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: #eee;
  }
  
  .checkbox_block :hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .checkbox_block  input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox_block  input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkbox_block  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
ul.dropdown li { position: relative; }
ul.dropdown, ul.dropdown-inside {
    list-style-type: none;
    padding: 0;
    }
ul.dropdown-inside {
    position: absolute;
    left: -9999px;
    }
ul.dropdown li.dropdown-top {
    display: inline;
    float: left;
    margin: 0 1px 0 0;
    }
ul.dropdown li.dropdown-top a {
    padding: 3px 10px 4px;
    display: block;
    }
ul.dropdown a.dropdown-top { background: 		#efefef; }
ul.dropdown a.dropdown-top:hover { padding: 	3px 10px 4px; }
ul.dropdown li.dropdown-top:hover .dropdown-inside {
    display: block;
    left: 0;
    }
ul.dropdown .dropdown-inside { background: 		#fff;    }
ul.dropdown .dropdown-inside a:hover { background: #efefef; }
.dropdown{
display: flex;
flex-direction: column;
}
.style_border{
border-left: 4PX SOLiD RED;
height: 100%;
margin-bottom: 5px;
}
.dropdown_item{
    position: relative;
}






