@import "base/_nullification";
@import "base/_header";
@import "base/_intro";
@import "base/_category";
@import "base/_cards";
@import "base/_promo";
@import "base/_subscripe";
@import "base/_footer";
@import "base/_cart";
@import "base/_registration";


.heading__text{
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-top: 96px;
    color: #222222;
}
.heading__text__p{
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin-bottom: 48px;
}
@media(max-width:768px){
    .heading__text{
        margin-top: -100px;
    }
}
@media(max-width:375px){
    .heading__text{
        margin-top: -100px;
    }
}
@media(max-width:500px){
    .heading__text{
        margin-top: -10px;
    }
}