.catalog{
    margin-top: 64px;
    margin-bottom: 100px;
        &__card{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &__item{
                width: 360px;
                height: 580px;
                background-color: #F8F8F8;
                padding: 0;
                display: flex;
                flex-direction: column;
                &__img{
                    width: 360px;
                    height: 422px;
                        &__overlay{
                            position: relative;
                            top: -425px;
                            left: 0;
                            right: 0;
                            height: 100%;
                            background: linear-gradient(179.9deg, rgba(240, 0, 0, 0) 0.09%, rgba(255, 27, 186, 0.0800045) 39.81%, rgba(223, 32, 255, 0.105786) 52.62%, rgba(124, 16, 255, 0.133158) 66.21%, rgba(0, 10, 255, 0.2) 99.39%), linear-gradient(180deg, #F16D7F 0%, rgba(121, 33, 80, 0.692708) 51.56%, rgba(0, 102, 255, 0) 100%);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            opacity: 0;
                            transition: 0.5s;
                        &__button{
                            padding: 12px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 14px;
                            line-height: 17px;
                            color: #FFFFFF;
                            width: 138px;
                            height: 43px;
                            border: 1px solid #FFFFFF;
                            background: none;
                        }
                        &__button:hover{
                            cursor: pointer;
                        }
                }

            }
                &__img:hover{
                    transition: 0.5s;
                }
                
            &__text{
                font-size: 13px;
                line-height: 16px;
                padding: 18px;
                &__link{
                    text-decoration: none;
                    color: #222222;
                }
                &__p{
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 17px;
                    padding-top: 13px;
                    padding-bottom: 18px;
                }
                &__price{
                    font-size: 16px;
                    line-height: 19px;
                    color: #F16D7F;
                    }
                }
            }
            &__item:hover .catalog__card__item__img__overlay{
                opacity: 1;
            }
            &__item:hover {
                transition: 0.5s;
                box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
                transform: translateX(-5px) translateY(-5px);
                box-shadow: -5px -5px 5px 5px rgba(160, 138, 197, 1);

            }  
            &__button{
                margin: 48px 0 95px 0;
                display: flex;
                justify-content: center;
                &__block{
                    font-size: 16px;
                    line-height: 19px;
                    color: #F26376;
                    border: 1px solid #F26376;
                    width: 211px;
                    height: 40px;
                    text-align: center;
                    background: #FFFFFF;
                    padding-top: 20px;
                    &__link{
                        text-decoration: none;
                        color: #F26376;
                    }
                }          
            }
            &__animate:hover .catalog__card__button{
                transform: rotateX(360deg);
                transition: 1s;
                
                
            }
            &__bkgd{
                background: linear-gradient(179.9deg, rgba(240, 0, 0, 0) 0.09%, rgba(255, 27, 186, 0.0800045) 39.81%, rgba(223, 32, 255, 0.105786) 52.62%, rgba(124, 16, 255, 0.133158) 66.21%, rgba(0, 10, 255, 0.2) 99.39%), linear-gradient(180deg, #F16D7F 0%, rgba(121, 33, 80, 0.692708) 51.56%, rgba(0, 102, 255, 0) 100%);
                height: 580px;
                margin-bottom: 30px;
            }
        }

    
}
.rewind{
    display: flex;
    justify-content: center;
    margin: 50px 0 100px 0;
        &__section{
            border: 1px solid #EBEBEB;
            display: flex;
            justify-content: space-between;
            min-width: 300px;
            &__link{
                text-decoration: none;
                color: #000000;
                padding: 12px 10px;
                }
            &__link:hover{
                color: #F26376;
            }
        }
  }
.card__info h3{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-align: center;
    padding: 64px 0 12px 0;
}
.card__info h2{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    text-align: center;
    margin-bottom: 48px;
}
.card__info p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    width: 555px;
    margin-bottom: 33px;
}
.card__info span{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}
.card__info{
    border: 1px solid #EAEAEA;
    height: 600px;
    margin-top: -110px ;
    background: #FFFFFF;
    &__block{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    &__border{
        width: 66px;
        border-bottom: 3px solid #EF5B70;
        margin-bottom: 12px;
    }
    &__border__product{
        width: 641px;
        border-bottom: 1px solid #EAEAEA;
        margin: 65px;
    }
    &__border__custom{
        display: flex;
        flex-direction: column;
        &__filter{
            display: flex;
            left: 37%;
            position: absolute;
            background: #FFFFFF;
            &__check{
                width: 140px;
                font-size: 14px;
                line-height: 17px;
                color: #6F6E6E;
                display: flex;
                flex-direction: column;
                padding: 5px;
            }

        }
        &__cart{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 53px 0 65px 0;
            &__button{
                position: relative;
                width: 211px;
                height: 48px;
                border: 1px solid #F26376;
                color: #F26376;
                font-size: 16px;
                line-height: 19px;
                background: #FFFFFF;
                margin-top: 20px;
            }
            &__button:hover{
                cursor: pointer;
            }
        }
        }
    }
}
.checkbox_block {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    user-select: none;
  }
  
  .checkbox_block  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  details > summary {
    list-style: none;
    padding: 8px;
  }
  .filter{
      display: flex;
      height: 100px;
      align-items: center;
      &__block{
          width: 180px;
          padding: 12px;
          position: absolute;
          z-index: 1;
          &__border{
              border-left: 5px solid #EF5B70;
              padding-right: 11px;
              height: 37px;
              display: flex;
              align-items: center;
              padding-left: 11px;
              border-bottom: 1px solid #EBEBEB;
          }
          &__border:not(:last-child){
              margin-bottom: 18px;
          }
      }
      &__block a{
        text-decoration: none;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
      }
      &__block[open]{
        box-shadow: 0 0 15px 10px (rgb(228, 228, 228));
        transition: 1s;
        background: #FFFFFF;
        width: 340px;
      }
      &__block li{
          margin-bottom: 11px;
          padding-left: 12px;
      }
      &__block ul{
          list-style-type: none;
      }
      &__block summary{
        margin-bottom: 16px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
      }
      &__block summary:hover{
          cursor: pointer;
      }
      &__checkbox{
          display: flex;
          margin-top: 17px;
          justify-content: center;
          width: 100%;
          
          &__item1{
            margin-right: 250px;
            padding: 5px;
          }
          &__item2{
            margin-left: 50px;
            padding: 5px;
          }
          &__item3{
            margin-left: 300px;
            padding: 5px;
          }
                    
          &__frame{
            display: flex;
            flex-direction: column;
            padding: 8px;
            background: #FFFFFF;
            z-index: 1;
            box-shadow: 0 0 15px 10px (rgb(228, 228, 228));
            transition: 1s;
          }
      

      }
      &__checkbox details{
        display: flex;
        position: absolute;
      }
      &__checkbox label{
          position: relative;
      }
      &__checkbox:hover{
          cursor: pointer;
      }

    }
    .filter [open]>summary {
        color: #EF5B70;
    }
    @media(max-width:1097px){
        .catalog__card{
            display: flex;
            justify-content: space-evenly;
        }
    }
    @media(max-width:768px){
        .filter__checkbox{
            margin-right: 10px;
        }
        .filter__checkbox> details{
            width: 200px;
        }
        .filter__checkbox__item1{
            margin-left: 75%;
            padding: 5px;
          }
          .filter__checkbox__item2{
            margin-left: 85%;
            padding: 5px;
          }
          .filter__checkbox__item3{
            margin-left: 107%;
            padding: 5px;
          }

    }
    @media(max-width:375px){
        .catalog{
            width: 97%;
        }
        .filter__block>summary span{
            display: none;
        }
        .filter__block{
            width: 50px;
        }
        .card__info__block__border__custom__filter{
            left: 2%;
            width: 105%;
        }
        .card__info__block__border__custom__filter__check{
            padding: 0;
        }
        details > summary {
            padding: 0;
    }
    .card__info p{
        width: 100%;
    }
    .card__info__block__border__product{
        width: 100%;
    }
    }