.footer{
    height: 80px;
    background-color: black;
    &__block{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__socials{
            display: flex;
            &__link{
                width: 32px;
                height: 32px;
                background-color: white;
                margin-right: 7px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}