.header{
    background-color: #222222;
    width: 100%;
    &__logo{
        display: flex;
        justify-content: space-between;
        &_right{
            margin-right: 25px;
        }
        &__img{
            margin: 18px 0;
            margin-right: 41px;
        }
        &__link{
            text-decoration: none;
            color: #222222;
        }
        &__item{
            margin: 26px 0;
        }
        &__item:not(:last-child) {
            margin-right: 33px;
        }
    }
}
@media (max-width: 375px){
    .header__logo__link:nth-child(2){
        display: none; 
    }
    .header__logo__link:nth-child(3){
        display: none; 
    }
}